html, html > * {
  background-color: #263238;
  color: white; }

input, textarea, select {
  color: white;
  background-color: #4f6873; }

.title {
  color: white; }

.button {
  box-shadow: 2px 2px 1px -1px #555555; }
  .button.round {
    box-shadow: 1px 2px 1px -1px #ba9797; }

.button:hover:not(.disabled) {
  background-color: #3b4c55; }

[color="primary"] {
  background-color: #455A64;
  color: white; }
  [color="primary"].button :hover :not(.disabled) {
    background-color: #3b4c55;
    color: white; }

[color="primary-minus"] {
  background-color: #4f6873;
  color: white; }
  [color="primary-minus"].button :hover :not(.disabled) {
    background-color: #455A64;
    color: white; }

[color="primary-plus"] {
  background-color: #3b4c55;
  color: white; }
  [color="primary-plus"].button :hover :not(.disabled) {
    background-color: #455A64;
    color: white; }

[color="accent"] {
  background-color: #68b6f3;
  color: black; }
  [color="accent"].button :hover :not(.disabled) {
    background-color: darker(#68b6f3, 5%); }

[color="alert"] {
  background-color: #FF5252;
  color: black;
  box-shadow: #ba9797; }
  [color="alert"].button :hover :not(.disabled) {
    background-color: #50abf1;
    color: black; }

.checkbox-group {
  border-color: #455A64; }

.checkbox {
  border-color: #68b6f3 !important; }
  .checkbox.checked {
    background-color: #68b6f3; }

table, #table {
  border-collapse: collapse;
  border: 1px solid #3b4c55;
  background-color: #555555;
  color: white; }

thead, tfoot, #table-header, #table-footer {
  background-color: #68b6f3;
  border-collapse: collapse;
  border: 1px solid #89b2d2;
  color: black; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #4f6873;
  box-shadow: inset 0 0 6px #4f6873; }

::-webkit-scrollbar-thumb {
  background: #68b6f3;
  -webkit-box-shadow: inset 0 0 6px #555555;
  box-shadow: inset 0 0 6px #555555; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #97cdf7; }

.section {
  background-color: #455A64;
  color: white; }

.section-item {
  background-color: #4f6873;
  border-radius: 5px;
  color: white; }

.row.bottom {
  border-bottom: 1px solid #4f6873; }
