.list-item {
    width: 95%;
    display: flex;
    flex-flow: row;
}

.list-item-label {
    font-size: 1.75em;
}

.task-detail {
    display: flex;
    flex-flow: column;
}

.detail-section {
    display: flex;
    flex-flow: column
}

.section-title {
    font-weight: bold;
}

.row {
    display: flex;
    
}
.col {

}