<div color="primary-plus" class="task-list-item">
    <div class="task-title">
        <i [@direction]="currentState" 
                (click)="toggleExpanded()" 
                class="material-icons display-toggle">chevron_right</i>
        <div class="checkbox" id="task {{ task._id }}" [ngClass]="{checked: selected}" (click)="toggleSelected(task._id)"></div>
        <span class="title-text" (click)="goTo()">{{task.objective}}</span>
    </div>
    <div *ngIf="currentState == 'expanded'" 
            class="task-details" 
            [@drawer]="currentState">
        <div class="task-detail-section" 
                [@notesFader]="currentState" color="accent">
            <span class="task-section-title title">Notes</span>
            <div class="detail-list">
                <div *ngFor="let note of task.notes; let i = index" class="detail-list-item" color="primary">
                        <span class="note">{{note}}</span>
                </div>
            </div>
        </div>
        <div class="task-detail-section" 
            [@workFader]="currentState" 
            color="accent">
            <span class="task-section-title title">Work</span>
            <div class="detail-list">
                <div *ngFor="let work of task.work; let j = index" class="detail-list-item" color="primary">
                    <div class="work-details">
                        <span>start: {{ work.start.toLocaleString() }}</span>
                        <span>duration: {{ work.duration }} minutes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>