<div class="list-item">
    <md-icon class="marerial-icons" *ngIf="!expanded">expand_more</md-icon>
    <md-icon class="material-icons" *ngIf="expanded">expand_less</md-icon>
    <div class="checkbox" aria-label="select task" (click)="toggleSelection()" id="task {id}"></div>
    <span class="list-item-label">{{task.objective}}</span>
    <div *ngIf="expanded" class="task-details">
        <div class="notes detail-section">
            <span class="section-title">Notes</span>
            <div class="note" *ngFor="let note of task.notes">
                {{note}}
            </div>
        </div>
        <div class="work detail-section">
            <span class="section-title">Work</span>
            <div class="section-list">
                <div class="row">
                    <div class="col heading">Start</div><div class="col heading">duration</div>
                </div>
                <div class="row work" *ngFor="let work of tasks.work">
                    <div class="col content">{{work.start.toLocaleString()}}</div>
                    <div class="col content">{{work.duration}}</div>
                </div>
            </div>
        </div>
    </div>
</div>