<div class="task-title">
    <md-icon [@displayToggle]="expanded" (click)="toggleExpanded()" class="material-icons display-toggle">chevron_right</md-icon>
    <div class="checkbox" id="task {{ task._id }}" [ngClass]="{checked: selected}" (click)="toggleSelected(task._id)"></div>
    <span (click)="goTo(task._id)">{{task.objective}}</span>
</div>
<div *ngIf="state == 'expanded'" class="task-details">
    <div class="task-detail-section" *ngFor="let note of task.notes; let i = index">
        <div class="checkbox" [ngClass]="{checked: selectedNotes.includes(i)}" (click)="selectNote(i)"></div>
        <span class="note">{{note}}</span>
    </div>
    <div class="task-detail-section" *ngFor="let work of task.work let j = index">
        <div class="checkbox" [ngClass]="{checked: selectedWork.includes(j)}"></div>
        <div class="work-details">
            <span>start: {{ work.start.toLocaleString() }}</span>
            <span>duration: {{ work.duration }} minutes</span>
        </div>
    </div>
</div>