#back, #settings {
    height: 30px;
    line-height: 30px;
    padding: 0 4px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Material Icons';
    box-shadow: 2px 2px 2px 1px black;
}

#back:hover {
    background-color: deeppink;
}

#back:active {
    transform: translate(1px, 1px);
}

#app-title {
    font-size: 24pt;
    font-weight: bold;
}