.content {
    display: flex;
    flex-flow: column;
}

.section, .section-title {
    margin-left: 10px;
}

#lists {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#categories {
    width: 40%;
}

#clients {
    width: 55%;
}

tbody, thead {
    display: block;
}

tbody {
    max-height: 300px;
    overflow-y: auto;
}

th {
    text-align: center;
}

.col1 {
    width: 0.6em;
    padding-left: 10px;
    padding-right: 15px;
}

.col2 {
    padding-left: 5px;
    width: 99%;
}

.col3 {
    width: 0.6em;
    padding-left: 15px;
    padding-right: 10px;
}

form > * {
    display: flex;
    flex-flow: row;
    margin-top: 10px;
}

form > * > * + * {
    margin-left: 10px;
}

#colors > .checkbox-group {
    width: 75px;
}