<div id="settings">
    <div class="title-group">
        <div class="title-group">
            <div class="title">
                <span>Settings</span>
            </div>
        </div>
    </div>
    <div class="content">
        <h2 class="section-title">Manage Lists</h2>
        <div id="lists" class="section">
            <table id="clients">
                <thead>
                    <tr>
                        <th class="col1"><i>done</i></th>
                        <th class="col2">Client Name</th>
                        <th class="col3" title="Quick clients"><i>flash_on</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td class="col1"><div class="checkbox" [ngClass]="{checked: false}" (click)="console.log('selected')"></div>
                        <td class="col2">{{client.name}}</td>
                        <td class="col3">
                            <div class="checkbox" [ngClass]="{checked: client.isQuickClient}" (click)="toggleQuickClient(client._id)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="categories">
                <thead>
                    <tr>
                        <th class="col1"><i>done</i></th>
                        <th class="col2">Category</th>
                        <th class="col3" title="Quick clients"><i>flash_on</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td class="col1">
                            <div class="checkbox" [ngClass]="{checked: false}" (click)="console.log('selected')"></div>
                        </td>
                        <td class="col2">{{category.name}}</td>
                        <td class="col3">
                            <div class="checkbox" [ngClass]="{checked: category.isQuickCategory}" (click)="toggleQuickClient(category._id)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 class="section-title">Manage Connections</h2>
        <div id="connections" class="section">
            <div id="jira">
                <h3>Jira (coming soon)</h3>
                <form>
                    <div class="enabled">
                        <div class="checkbox" [ngClass]="{checked: false}"></div><span>enabled</span>
                    </div>
                    <div class="login">
                        <input placeholder="username" disabled/>
                        <input placeholder="password" disabled/>
                    </div>
                    <div class="url">
                        <input placeholder="web address" disabled/>
                    </div>
                </form>
            </div>
            <div id="firebase">
                <!--Connect to google account, sync categories, sync clients, sync tasks-->
            </div>
        </div>
        <h2>Color Scheme</h2>
        <div id="colors" class="section">
            <!--Dark theme, light theme-->
            <!--maybe able to use node & SASS to achieve this-->
        </div>
    </div>  
</div>