<div id="settings">
    <div class="title-group">
        <div class="title">
            <span>Settings</span>
        </div>
    </div>
    <div class="content">
        <div class="section">
        <h2 class="section-title">Manage Lists</h2>
        <div id="lists" class="section">
            <table id="clients">
                <thead>
                    <tr>
                        <th class="col1"><i>done</i></th>
                        <th class="col2">Client Name</th>
                        <th class="col3" title="Quick clients"><i>flash_on</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td class="col1"><div class="checkbox" [ngClass]="{checked: false}" (click)="console.log('selected')"></div>
                        <td class="col2">{{client.name}}</td>
                        <td class="col3">
                            <div class="checkbox" [ngClass]="{checked: client.isQuick}" (click)="toggleQuickClient(client)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="categories">
                <thead>
                    <tr>
                        <th class="col1"><i>done</i></th>
                        <th class="col2">Category</th>
                        <th class="col3" title="Quick clients"><i>flash_on</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td class="col1">
                            <div class="checkbox" [ngClass]="{checked: false}" (click)="console.log('selected')"></div>
                        </td>
                        <td class="col2">{{category.name}}</td>
                        <td class="col3">
                            <div class="checkbox" [ngClass]="{checked: category.isQuick}" (click)="toggleQuickCategory(category)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="section">
        <h2 class="section">Manage Connections</h2>
        <div id="connections">
            <div id="jira">
                <h3 class="">Jira (coming soon)</h3>
                <form class="disabled">
                    <div class="enabled">
                        <div class="checkbox" [ngClass]="{checked: false}"></div><span>enabled</span>
                    </div>
                    <div class="login">
                        <input placeholder="username" disabled/>
                        <input placeholder="password" disabled/>
                    </div>
                    <div class="url">
                        <input placeholder="web address" disabled/>
                    </div>
                </form>
            </div>
            <div id="firebase">
                <h3 class="">Web sync (coming soon)</h3>
                <div class="button wide" color="accent" [ngClass]="{disabled: true}">Link google account</div>
                <div class="checkbox-group disabled">
                    <div class="checkbox"></div><span>Sync Clients</span>
                </div>
                <div class="checkbox-group disabled">
                    <div class="checkbox"></div><span>Sync Categories</span>
                </div>                 
                <div class="checkbox-group disabled">
                    <div class="checkbox"></div><span>Sync Tasks</span>
                </div> 
            </div>
        </div>
        </div>
        <div class="section">
            <h2>Theme</h2>
            <div id="colors" class="section-content">
                <div class="checkbox-group">
                <div class="checkbox" [ngClass]="{checked: true}"></div><span>Dark</span>
                </div>
                <div class="checkbox-group disabled">
                <div class="checkbox" [ngClass]="{checked: false}"></div><span>Light</span>
                </div>
            </div>
        </div>
    </div>  
</div>