<div id="task-detail" *ngIf="task != undefined">
    <div id="header">
        <div class="title-group">
            <h1>{{task.objective}}</h1>
            <span id="task-subtitle">
                {{taskCreated}} - {{taskCompleted}}
            </span>
        </div>
        <div title="Delete this task" 
            class="button round" 
            (click)="deleteSelf()"
            color="alert">
            delete
        </div>
    </div>
    <div id="task-details">
        <div class="detail-section" color="primary-plus">
            <div class="section-title">
                <span>Notes</span>
                <div class="button-group">
                    <div class="button round mini" 
                        (click)="addNote()"
                        color="accent">
                        add
                    </div>
                    <div class="button round mini" 
                        (click)="deleteSelected('notes')"
                        color="alert">
                        delete
                    </div>
                </div>
            </div>
            <div class="section-item" *ngFor="let note of task.notes; let i = index">
                <div class="checkbox" 
                    (click)='toggleNote(i)' 
                    [ngClass]="{checked : selectedNotes.includes(i)}">
                </div>
                <span class="item-title">{{note}}</span>
            </div>
            <div class="pending section-item" *ngIf="pendingNote != null">
                <div class="input-container">
                    <label for="pending-note" 
                            class="input-label">Note</label>
                    <input id="pending-note" 
                            type="text" 
                            [(ngModel)]="pendingNote" 
                            name="pending-duration" 
                            class="input"/>
                </div>
                <div class="button-group">
                    <div 
                        title="Add note"  
                        (click)="finalizeNote()"
                        class="button micro round"
                        color="accent">done</div>
                    <div 
                        title="Cancel"
                        (click)="clearNote()"
                        class="button micro round" 
                        color="alert">clear</div>
                </div>
            </div>
        </div>
        <div class="detail-section" color="primary-plus">
            <div class="section-title">
                <span>Work</span>
                <div class="button-group">
                    <div class="button round mini" 
                        (click)="addWork()"
                        color="accent">
                        add
                    </div>
                    <div class="button round mini" 
                        (click)="deleteSelected('notes')"
                        color="alert">
                        delete
                    </div>
                </div>
            </div>
            <div class="section-item" *ngFor="let work of task.work;let i = index">
                <div class="checkbox" 
                        (click)='toggleWork(i)' 
                        [ngClass]="{checked: selectedWork.includes(i)}"></div>
                <span class="item-title">{{getDateString(work.start)}} {{work.duration}}</span>
            </div>
            <div class="pending section-item" *ngIf="pendingWorkDate != '' && pendingWorkDuration != null">
                <div class="input-container">
                    <label for="pending-start" class="input-label">Start</label>
                    <input id="pending-start" 
                            type="datetime-local" 
                            [(ngModel)]="pendingWorkDate" 
                            placeholder="Start" 
                            class="input" />
                </div>
                <div class="input-container">
                    <label for="pending-duration" class="input-label">Duration</label>
                    <input id="pending-duration" 
                            type="number" 
                            [(ngModel)]="pendingWorkDuration" 
                            name="pending-duration" 
                            class="input"/>
                </div>
                <div class="button-group">
                    <div 
                        title="Add work" 
                        class="button micro round" 
                        (click)="finalizeWork()"
                        color="accent">done</div>
                    <div 
                        title="cancel" 
                        class="button micro round" 
                        (click)="clearWork()"
                        color="alert">clear</div>
                </div>
            </div>
        </div>
    </div>
</div>