<div id="task-detail" *ngIf="task != undefined">
    <div id="header">
        <div id="title-group">
            <span id="task-title">
                {{task.objective}}
            </span>
            <span id="task-subtitle">
                {{task.created}} - {{task.completed}}
            </span>
        </div>
        <div class="button large-button clear"(click)="deleteSelf()">
            <md-icon class="clear-text">delete</md-icon>
        </div>
    </div>
    <div id="task-details">
        <div class="detail-section">
            <div class="section-title">
                <span>Notes</span>
                <div class="button-group">
                    <div class="button mini-button add" 
                        (click)="addNote()">
                        <md-icon class="add-text">add</md-icon>
                    </div>
                    <div class="button mini-button clear" 
                        (click)="deleteSelected('notes')">
                        <md-icon class="clear-text">delete</md-icon>
                    </div>
                </div>
            </div>
            <div class="section-item" *ngFor="let note of task.notes; let i = index">
                <div class="checkbox" 
                    (click)='toggleNote(i)' 
                    [ngClass]="{checked : selectedNotes.includes(i)}">
                </div>
                <span class="item-title">{{note}}</span>
            </div>
            <div class="pending section-item" *ngIf="pendingNote != null">
                <div class="input-container">
                    <label for="pending-note" 
                            class="input-label">Duration</label>
                    <input id="pending-note" 
                            type="text" 
                            [(ngModel)]="pendingNote" 
                            name="pending-duration" 
                            class="input"/>
                </div>
                <div class="button mini-button add" (click)="finalizeNote()">
                    <md-icon class="add-text">done</md-icon>
                </div>
                <div class="button mini-button clear" (click)="clearNote()">
                    <md-icon class="clear-text">clear</md-icon>
                </div>
            </div>
        </div>
        <div class="detail-section">
            <div class="section-title">
                <span>Work</span>
                <div class="button-group">
                    <div class="button mini-button add" 
                        (click)="addWork()">
                        <md-icon class="add-text">add</md-icon>
                    </div>
                    <div class="button mini-button clear" 
                        (click)="deleteSelected('work')">
                        <md-icon class="clear-text">delete</md-icon>
                    </div>
                </div>
            </div>
            <div class="section-item" *ngFor="let work of task.work;let i = index">
                <div class="checkbox" 
                        (click)='toggleWork(i)' 
                        [ngClass]="{checked: selectedWork.includes(i)}"></div>
                <span class="item-title">{{work.start}} {{work.duration}}</span>
            </div>
            <div class="pending section-item" *ngIf="pendingWorkDate != '' && pendingWorkDuration != null">
                <div class="input-container">
                    <label for="pending-start" class="input-label">Start</label>
                    <input id="pending-start" 
                            type="datetime-local" 
                            [(ngModel)]="pendingWorkDate" 
                            placeholder="Start" 
                            class="input" />
                </div>
                <div class="input-container">
                    <label for="pending-duration" class="input-label">Duration</label>
                    <input id="pending-duration" 
                            type="number" 
                            [(ngModel)]="pendingWorkDuration" 
                            name="pending-duration" 
                            class="input"/>
                </div>
                <div class="mini-button add" (click)="finalizeWork()">
                    <md-icon class="add-text">done</md-icon>
                </div>
                <div class="mini-button clear" (click)="clearWork()">
                    <md-icon class="clear-text">clear</md-icon>
                </div>
            </div>
        </div>
    </div>
</div>