<div id="task-detail" *ngIf="task != undefined">
    <div id="header">
        <div class="title-group">
            <div class="title">
                <span>{{task.objective}}</span>
            </div>
            <span class="subtitle">
                {{taskCreated}} - {{taskCompleted}}
            </span>
        </div>
        <div class="button-group">
            <div title="Complete task"
                class="button round"
                (click)="toggleCompletion()"
                color="accent"
                *ngIf="!task.isComplete">done
            </div>
            <div title="Uncomplete task"
                class="button round"
                (click)="toggleCompletion()"
                color="accent"
                *ngIf="task.isComplete"></div>
            <div title="Delete this task" 
                class="button round" 
                (click)="deleteSelf()"
                color="alert">
                delete
            </div>
        </div>
    </div>
    <div id="task-details">
        <div class="detail-section" color="primary-plus">
            <div class="section-title">
                <span>Notes</span>
                <div class="button-group">
                    <div class="button round mini" 
                        (click)="addNote()"
                        color="accent">
                        add
                    </div>
                    <div class="button round mini" 
                        (click)="deleteSelected('notes')"
                        color="alert">
                        delete
                    </div>
                </div>
            </div>
            <div class="section-item" *ngFor="let note of task.notes; let i = index">
                <div class="checkbox" 
                    (click)='toggleNote(i)' 
                    [ngClass]="{checked : selectedNotes.includes(i)}">
                </div>
                <span class="item-title">{{note}}</span>
            </div>
            <div class="pending section-item" *ngIf="pendingNote != null">
                <div class="input-container" id="pending-note" >
                    <label for="pending-note" 
                            class="input-label">Note</label>
                    <textarea rows="4"
                            [(ngModel)]="pendingNote" 
                            name="pending-duration" ></textarea>
                </div>
                <div class="button-group" id="pending-buttons">
                    <div 
                        title="Add note"  
                        (click)="finalizeNote()"
                        class="button micro round"
                        color="accent">done</div>
                    <div 
                        title="Cancel"
                        (click)="clearNote()"
                        class="button micro round" 
                        color="alert">clear</div>
                </div>
            </div>
        </div>
        <div class="detail-section" color="primary-plus">
            <div class="section-title">
                <span>Work</span>
                <div class="button-group">
                    <div class="button round mini" 
                        (click)="addWork()"
                        color="accent">
                        add
                    </div>
                    <div class="button round mini" 
                        (click)="deleteSelected('work')"
                        color="alert">
                        delete 
                    </div>
                </div>
            </div>
            <div class="section-item" *ngFor="let workItem of work;let i = index">
                <div class="checkbox" 
                        (click)='toggleWork(i)' 
                        [ngClass]="{checked: selectedWork.includes(i)}"></div>
                <span class="item-title">Starting at {{getDateString(workItem.start)}} for {{workItem.duration}}</span>
            </div>
            <div class="pending section-item" *ngIf="pendingWorkDate != '' && pendingWorkDuration != null">
                <div class="input-container">
                    <label for="pending-start" class="input-label">Start</label>
                    <input id="pending-start" 
                            type="datetime-local" 
                            [(ngModel)]="pendingWorkDate" 
                            placeholder="Start" 
                            class="input" />
                </div>
                <div class="input-container">
                    <label for="pending-duration" class="input-label">Duration (minutes)</label>
                    <input id="pending-duration" 
                            type="number" 
                            [(ngModel)]="pendingWorkDuration" 
                            name="pending-duration" 
                            class="input"/>
                </div>
                <div class="button-group"  id="pending-buttons">
                    <div 
                        title="Add work" 
                        class="button micro round" 
                        (click)="finalizeWork()"
                        color="accent">done</div>
                    <div 
                        title="cancel" 
                        class="button micro round" 
                        (click)="clearWork()"
                        color="alert">clear</div>
                </div>
            </div>
        </div>
    </div>
</div>